In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

# DIVIDIR DATOS EN ENTRENAMIENTO Y PRUEBA

## PARA 20N

In [2]:
df_20n = pd.read_csv("20n_tokenized.csv")

In [11]:
train_20n, test_20n = train_test_split(df_20n, train_size=0.8, random_state=42)

In [19]:
train_20n.to_csv("20N_01_training.csv")
test_20n.to_csv("20N_01_testing.csv")

In [13]:
test_20n

                                                  unique
5709   <s> adn6285 ritvax isc rit edu writes in artic...
9458   <s> i m sure all of you have heard of the <UNK...
4245   <s> rvenkate ux4 cso uiuc edu ravikuma venkate...
14105  <s> re space billboards even easier to impleme...
5005   <s> hi i m new to this group so please bear wi...
...                                                  ...
30     <s> mathew mathew mantis co uk writes perhaps ...
12139  <s> al question is there a certain device out ...
12305  <s> in article <UNK> 3nx athena cs uga edu mco...
9687   <s> on the lindros trade like ottawa would be ...
15334  <s> i also don t see the _necessity_ of saying...

[3759 rows x 1 columns]

## PARA BAC

In [14]:
df_bac = pd.read_csv("bac_tokenized.csv")

In [15]:
train_bac, test_bac = train_test_split(df_bac, train_size=0.8, random_state=42)

In [20]:
train_bac.to_csv("BAC_01_training.csv")
test_bac.to_csv("BAC_01_testing.csv")